body{
  background-color: gray;
}

h1{
  text-align: center;
}

.container{
  background-color: black;
  color: whitesmoke;
  margin: 20px ;
  padding:20px ;
}

.element{
  text-align: center;
  font-size: 30px;
}

.marginline{
  margin: 50px;
}

.box{
  float: left;
  border: solid;
  border-width: 0px 0px 3px 0px;
  box-sizing: border-box;
  margin: 0px 10px 0px 0px;
  padding: 10px 10px 10px 10px;
  width: 270px;
  height: auto;
  background-color: black;
}

h2{
  text-align: left;
}